<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleApp4.Properties.Settings.crmConnectionString"
            connectionString="Data Source=crmgeorgian.ct4yadng5d16.us-east-2.rds.amazonaws.com;Initial Catalog=crm;Persist Security Info=True;User ID=sa;Password=12345678Gc"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>